*{
    padding : 0;
    margin:0;
    box-sizing:border-box;
}
body{
    background-color: black;
    color:white;
    font-family: sans-serif;
}
#navbar{
    position:absolute;
    width:100%;
    top:0px;
    display:flex;
    justify-content: space-between;
    padding: 7% 5%;
    z-index: 10;

}
.navbar_brand {
    width:100px;
    height:100%;
}
.brand_logo{
    width:100%;
    height:100%;

}
.navbar_nav_items{
    display: flex;
    gap:10px;
}
.dropdown_container{
    border: 1px solid white;
    padding:0.3rem 0.5rem;
    border-radius: 3px;
    color:white;
    display: flex;
}
.lang_drop_down{
    background: transparent;
    color:white;
    border:none;
}
.lang_drop_down:focus{
    outline: none;
}

.signin_button{
    border:none;
    background-color:#dc030f;
    color:white;
    border-radius:5px; 
    font-size:14px;
    padding:0.5rem 0.75rem; 
}

.hero_background_container{
    width:100%;
    height:100%;
}
.hero_bg_img{
    width:100%;
    height:80vh;
    object-fit: cover;
}
.hero_bg_overlay{
    position: absolute;
    inset:0;
    height:80vh;
    background:rgba(0,0,0,0.4);
    background-image: linear-gradient( to top, 
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%, 
    rgba(0, 0, 0, 0.8) 100% );

}
.hero_text_container{
    position:absolute;
    width:100%;
    text-align: center;
    top:20%;
    display: flex;
    flex-direction: column;
    gap:12px;
}
.hero_text_container h1{
    font-size: 1.75rem;
}
.hero_text_container .hero_text_title{
    font-size:1.1rem;
}
.hero_text_container .hero_text_descript{
    font-size:1.1rem;
}
.form_container {
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.email_input_contain {
    width:90%;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background: transparent;
    display: flex;
    align-items: center;
}
.email_input  {
    width:100%;
    font-size:10px;
    border:none;
    height:3rem;
    font-size: 20px;
    padding:0 5px;
    outline: none;
    border-radius: 3px;

}
.email_label {
    position: absolute;
    left:7%;
    color:gray;
    font-size: 14px;
    transition: 0.5s;
}
.email_input:focus +.email_label{
    top:63%;
    font-size: 11px;
}
.email_input:not(:placeholder-shown) .email_input:not(:focus) + .email_label{
    top:63%;
    font-size: 11px;
}

.email_button {
    margin-top:1.5rem;
    font-size: 1rem;
    padding: 0.65rem 0.85rem;
    background-color: #dc030f;
    color:white;
    border-radius: 3px;
    border:none;
}
.features{
    border-top:solid 0.5rem #222;
    padding:2rem 1rem;
}
.features_detail{
    text-align: center;
}
.features_detail h5{
    line-height: 25px;
    font-size: 1.2rem;
}
.feature_title{
    font-size: 1.6rem;
    font-weight: 600;
    margin:10px;

}
.feature_sub_title{
    font-weight: 400;
    font-size:16px;
}
.features_img_container{
    position: relative;
    width:100%;

}
.feature_img{
    width: 100%;
}
.features_video_container{
    width :100%;
    position:absolute;
    top:20%;
    left:13%;
    height:100%;
    max-width :73%;
    max-height:54%;
    z-index: -2;
}
.feature_background_video{
    width:100%;

}

.features_2_image_poster{
    background-color: black;
    position: absolute;
    bottom:10px;
    left:30px;
    width:16rem;
    display:flex;
    border:solid 0.2rem #222;
    align-items: center;
    height:4rem;
    border-radius:12px;
    padding:0.3rem 0.5rem;
    justify-content: space-between;
    letter-spacing: 1px;
}
.poster_container{
    height:100%;
}
.poster_container_img{
    height:100%;
}
.features_2_image_detail h6{
    color:blue;
}
.features_2_image_gif_container{
    height:100%;
}
.features_2_image_gif{
    height:100%;
}
.FAQ_question_sec{
    border-top:solid 0.6rem #222;
}
.FAQ_contain{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.FAQ_contain h1{
    padding:2rem 2rem;
    text-align: center;
}

summary{
    width:100%;
    width:100%;
    padding:10px 20px;
    display:flex;
    justify-content: space-between;
    font-size: 1.5rem;
    background-color:#303030;
    border-color: #303030;
    color:white;
}

.FAQ_visible{
    margin:0.1rem 0;
    background-color:#303030;
    padding:20px 20px;
    font-size:1.1rem ;
    letter-spacing: 1px;
    line-height: 25px;
}

.FAQ_email_Entry_container{
    width: 100%;
    padding:2rem 0;
    background:transparent;
    text-align: center;
}

.FAQ_email_Entry_container h3{
    font-weight: 90;
    margin:20px 10px;
}


@media (min-width : 768px){
    #navbar{
        padding:3% 6%;
    }
    .hero_bg_img{
        height:100vh;
        object-fit: cover;

    }
    .hero_bg_overlay{
        height:100%;
    }
    .hero_text_container{
        top:30%;
    }
    .hero_text_container h1{
        font-size: 3rem;
    }
    .hero_text_container .hero_text_title{
        font-size:1.60rem;
    }
    .hero_text_container .hero_text_descript{
        font-size:1.60rem;
    }
    .email_input_contain{
        left:10%;
        width:65%;

    }
    
    .email_label{
        left:20%;
    }
    .email_input:focus +.email_label{
        top:72%;
    }

    .features{
        padding:3rem 3rem;
    }
    .feature_title{
        font-size: 3rem;
        margin:10px;
    
    }
    .feature_sub_title{
        font-weight: 400;
        font-size:20px;
    }

    .features_2_image_poster{
        left:15%;
        bottom:8%;
        width:30rem;
        height: 5rem;  
    }
    .FAQ_contain h1{
        font-size: 2.5rem;

    }
    .FAQ_list{
        width: 80%;
    }

    .FAQ_email_Entry_container{
        padding-bottom: 6rem;
    }

}
@media (min-width : 1024px){
    #navbar{
        padding:2% 4%;
    }

    .navbar_brand {
        width:150px;
        height:100%
    }
    .navbar_nav_items{
        gap:30px;
    }
    .dropdown_container{
        font-size:17px;
        padding:0.4rem 0.5rem;
    }
    .signin_button{
        padding:0.5rem 1.25rem;
        font-size: 17px; 
    }
    .hero_bg_img{
        height:100%;
    }
    .hero_text_container{
        top:35%;
        gap:25px;

    }
    .hero_bg_overlay{
        height:116%;
    }
    .hero_text_container .hero_text_descript{
        font-size:1.25rem;
    }

    .form_container{
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
    .email_input_contain{
        width:35%;
    }
    .email_input{
        height:3.5rem;
    }
    .email_label{
    left:27%;
    }
    .email_input:focus +.email_label{
        top:85%;
    }
    .email_button{
        margin-top:0;
        padding:0.95rem;
        font-size: 1.5rem;
    }
    .features{
        padding:1rem 2rem;
        display:flex;
        padding:0 5rem;
        align-items: center;
    }
    .features_detail{
        
        text-align: left;

    }
    .feature_title{
        font-size: 1.rem;    
    }
    .feature_sub_title{
        font-weight: 400;
        font-size:25px;
    }

    .features:nth-child(odd) {
        flex-direction: row-reverse;
    }
    .features_2_img_container {
        width:500px;
        height:500px;
    }
    .features_2_image_poster{
        left:13%;
        bottom:25%;
        width:20rem;
        height: 6rem;
        padding: 0.5rem 0.75rem;
    }

    .FAQ_contain h1{
        padding:4rem 2rem;
        font-size: 3.5rem;
    }
    
    .FAQ_accordance{
        width:100%;
    }
    .FAQ_list{
        width: 60%;
    }
    summary{
        font-size: 2rem;
        padding:1rem 1rem;
        margin-top: 0.5rem;
    }
    .FAQ_visible{
        font-size: 1.75rem;
        line-height: 2.5rem;
        padding:2rem 2rem;

    }

}
@media (min-width : 1254px){
}